experteam_api_base:
    params:
        remote:
            enabled: true
            url: http://api_companies:8080/api/parameters-values
#        defaults:
#            API_CRAMX_LOGIN: gabymx|Dhl12345|ACG
#            DROPOFF_PRODUCTS_RESTRICTED: 7
#            DROPOFF_ACCOUNT_VALID: /(^95)|(^96)|(^98)|(^C)|(^F)/
#            DROPOFF_ACCOUNTS_RESTRICTED: CASHMXB2L
    elk_logger:
        channel: api-shipments
#    fixtures:
#            release: 1.1.0